body {
    background-color: #302C42;
    
}

header {
    position: relative;
    width: 1272px;
    margin: 0 auto;


    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;


        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

        }


        nav {
            margin-left: 120px;
            ul {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }

            .links {
                color: #ffffff;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-decoration: none;
            }
        }



        .buttons {
            display: flex;
            gap: 40px;


            .btn1 {
                background: none;
                color: #ffffff;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                padding: 15px 35px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                cursor: pointer;
            }

            .btn2 {
                background: none;
                color: #343045;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                padding: 15px 35px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                cursor: pointer;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border-radius: 40px;
                border: none;
            }

        }
    }


    .hero {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .hero-heading {
            display: flex;
            flex-direction: column;
            margin-top: 150px;

            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                color: #FFFFFF;

                span {
                    color: #C0B7E8;
                }
            }

            p {
                margin-top: 35px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;
            }

            .btn {
                display: flex;
                margin-top: 120px;
                align-items: center;
                justify-content: flex-start;
                gap: 40px;

                button {
                    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                    border-radius: 40px;
                    padding: 18px 44px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    color: #343045;
                    border: none;
                    cursor: pointer;
                }
            }
        }


        .hero-photo {
            width: 524px;
            height: 455px;
            margin-top: 125px;
            border-radius: 100px 100px 100px 240px;
            background-image: url(/Assets/images/photo.png);
            box-shadow: 10px #ffffff;
        }
    }
}


.contact {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    padding: 45px 65px;
    justify-content: space-between;


    .rectangle {
        height: 115px;
        border: 1px solid rgba(192, 183, 232, 0.33);
    }


    .location {
        display: flex;
        justify-content: flex-start;


        .para {
            margin-left: 15px;
        }

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            margin-bottom: 10px;
        }

        p {
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
        }
    }
    

}