body {
    background-color: #302C42;
    
}

header {
    position: relative;
    width: 1300px;
    margin: 0 auto;


    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;


        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

        }


        nav {
            margin-left: 120px;
            ul {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }

            .links {
                color: #ffffff;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 15px;
                text-decoration: none;
            }
        }



        .buttons {
            display: flex;
            gap: 40px;


            .btn1 {
                background: none;
                color: #ffffff;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                padding: 15px 35px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                cursor: pointer;
            }

            .btn2 {
                background: none;
                color: #343045;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                padding: 15px 35px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                cursor: pointer;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border-radius: 40px;
                border: none;
            }

        }
    }


    .hero {
        width: 1300px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .hero-heading {
            display: flex;
            flex-direction: column;
            margin-top: 150px;

            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                color: #FFFFFF;

                span {
                    color: #C0B7E8;
                }
            }

            p {
                margin-top: 35px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;
            }

            .btn {
                display: flex;
                margin-top: 120px;
                align-items: center;
                justify-content: flex-start;
                gap: 40px;

                button {
                    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                    border-radius: 40px;
                    padding: 18px 44px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    color: #343045;
                    border: none;
                    cursor: pointer;
                }
            }
        }


        .hero-photo {
            width: 524px;
            height: 455px;
            margin-top: 125px;
            border-radius: 100px 100px 100px 240px;
            background-image: url(/Assets/images/photo.png);
            box-shadow: 10px #ffffff;
        }
    }
}


.contact {
    width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    padding: 20px 65px;
    justify-content: space-between;


    .rectangle {
        height: 115px;
        border: 1px solid rgba(192, 183, 232, 0.33);
    }


    .location {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .para {
            margin-left: 15px;
        }

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            color: #ffffff;
            margin-bottom: 10px;
        }

        p {
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
        }
    }
    

}


.about {
    width: 1300px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .about-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

        h1 {
            color: #ffffff;           
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
        }



        .headin2p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }


    .about-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 110px;
        

        .about-photo {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 240px 100px;
            width: 524px;
            height: 557px;
            background-image: url(/Assets/images/VRPHOTO.png);
            margin-right: 20px;
        }

        .description-heading {
            margin-top: 50px;

            h1 {
                margin-bottom: 5px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #ffffff;
            }


            h2 {
                margin-bottom: 42px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                line-height: 44px;
                color: rgba(255, 255, 255, 0.95);
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;
                margin-bottom: 30px;

            }


            button {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #343045;
                padding: 16px 48px 16px 40px;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border-radius: 40px;
                border: none;
            }
        }
    }
}


.services {
    width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;

    .services-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;


        .services-heading1 {

            h1 {

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #ffffff;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                line-height: 44px;
                color: #ffffff;
            }

        }


        img {
            margin-right: 150px;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
}

.team {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    margin-top: 90px;
    flex-direction: row;
    gap: 10px;

    .profile {
        width: 310px;
        height: 511px;
        background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .photo {
            width: 190.92px;
            height: 190.92px;
            background-image: url(/Assets/images/simulation.png);
            border-radius: 100px;
            box-shadow: #433D60;
        }

        h3 {
            margin-top: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
        }


        .xazi {
            width: 154px;
            border: 1px solid rgba(192, 183, 232, 0.33);
            margin-top: 15px;
        }

        
        p {
            margin-top: 15px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
        }


        button {
            margin-top: 35px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            padding: 15px 40px;
            color: #343045;
            background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
            border-radius: 40px;
            border: none;
        }


        .photo1 {
            background-image: url(/Assets/images/foto2.png);
            width: 190.92px;
            height: 190.92px;
            border-radius: 100px;
            box-shadow: #433D60;
        }

        .photo2 {
            background-image: url(/Assets/images/foto3.png);
            width: 190.92px;
            height: 190.92px;
            border-radius: 100px;
            box-shadow: #433D60; 
        }

        .photo3 {
            background-image: url(/Assets/images/foto4.png);
            width: 190.92px;
            height: 190.92px;
            border-radius: 100px;
            box-shadow: #433D60; 
        }
    }
}

.tech {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;


    .banner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        width: 1278px;
        height: 303px;
        background-color: #211E2E;
        box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
        border-radius: 160px;
        background-image: url(/Assets/images/gogo.png);

        .srol {
            position: absolute;
            background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
            padding: 25px;
            border-radius: 50px;
            bottom: -10%;
            box-shadow: rgba(14, 14, 14, 0.32);
        }


        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
        }


        h5 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
        }
    }

    .partners {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 107px;
    }
}


.process {
    width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .services-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;


        .services-heading1 {
            display: flex;
            flex-direction: column;
            h1 {

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #ffffff;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                line-height: 44px;
                color: #ffffff;
            }

        }


        img {
            margin-right: 50px;
        }

        p {
            text-align: end;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
}


.login {
    width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;


    .heading {
        

        h1 {
            margin-top: 90px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
        }

        .react {
            display: flex;
            width: 414px;
            background-color: white;
            height: 1px;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            margin-left: 60px;
        }

        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
            margin-top: 30px;
        }
    }


    .login-form {
        margin-top: 65px;
        display: flex;
        input {
            width: 524px;
            height: 72px;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        }
    }
}